.header {
  background-color: #3949AA;
  text-align:center;
  padding: 5px;
}

#center {
  text-align: center;
}

li {
  list-style-type: none;
  font-size: 4vw;
  margin: 0 auto;
}

.btn {
  background-color: #3949AA;
  color: #E1736A;
}

.btn:hover {
  color: #FFFFFF;
}

h1 {
  animation: bounce 1s .5s;
  font-family: 'Monoton', cursive;
  letter-spacing: 2px;
  font-size: 8vw;
  color: #E1736A;
}

#results {
  text-align: center;
  background-color: #E1736A;
  width: 100%;
  margin: auto;
  font-family: 'Monoton', cursive;
  letter-spacing: 4px;
  font-size: 7vw;
}

label {
  font-size: 18px;
}

p {
  font-size: 18px;
}
